<header>
    <h1>
        <a href="{{ path('homepage') }}">Something to { ... }</a>
    </h1>
    <nav>
        <ul>
            <li>
                <a href="{{ path('homepage') }}">Accueil</a>
            </li>
            <li>
                <a href="{{ path('game') }}">Jeux</a>
            </li>
            <li>
                <a href="{{ path('user_list') }}">Annuaire</a>
            </li>
            <li>
                <a href="{{ path('about') }}">A propos</a>
            </li>
            <li>
                <a href="{{ path('fos_user_security_login') }}">Se connecter</a>
            </li>
            <li>
                <a href="{{ path('fos_user_registration_register') }}">Créer compte</a></li>
            </li>
        </ul>
    </nav>
</header>
